.scrolling-wrapper {
    display: flex;
    width: 100%;
    white-space: nowrap; /* Ensure logos are in one line */
    animation: scroll 60s linear infinite; /* Ensure continuous scrolling */
    justify-content: flex-start;
}

.logo-gfm,
.logo-ds {
    flex: 0 0 auto; /* Allows dynamic adjustment but with a minimum width */
    display: inline-flex; /* Inline-flex for side-by-side alignment and better control */
    justify-content: center; /* Center logos within each container */
    align-items: center; /* Align logos vertically within each container */
}
.logo-gfm {
    margin-right: -250px;
}

.logo-ds {
    margin-right: 50px;
}

.logo-gfm img {
    width: 110%; /* Sets width relative to its parent container */
    max-width: 200px; /* Max width to prevent overly large logos */
    height: auto; /* Maintains aspect ratio */
    object-fit: contain;
}

.logo-ds img {
    width: 100%; /* Increased size for visibility */
    max-width: 180px; /* Max width to prevent overly large logos */
    height: auto; /* Maintains aspect ratio */
    object-fit: contain;
}


@keyframes scroll {
    from { transform: translateX(0%); }
    to { transform: translateX(-200%); }
}


.scrolling-wrapper {
    display: flex;
    width: 100%;
    white-space: nowrap; /* Ensure logos are in one line */
    animation: scroll 60s linear infinite;
    justify-content: flex-start;
}
.scrolling-wrapper {
    padding: 0;
    margin: 0;
    border: none;
    flex: none
}

.logo-gfm img {
    width: 60%;
    height: 60%;
    object-fit: contain;
    display: block;
    margin-right: 250px;
   
    /* object-fit: contain; Keeps the aspect ratio intact */
}

.logo-ds img {
    width: 120%;
    height: 120%;
    object-fit: contain;
    display: block;
  
    /* object-fit: contain; Keeps the aspect ratio intact */
}

@keyframes scroll {
    from { transform: translateX(0%); }
    to { transform: translateX(-200%); }
}